{%- if include.yaml %}
{%- assign tiles = site.data.tiles[include.target] %}
{% else %}
{%- assign tiles = page[include.target] %}
{%- endif %}
<div class="simple-tiles">
    <div class="simple-tiles-container">
        <div class="simple-tiles-list">
            {%- for item in tiles %}
            {%- if item.title %}
                <a href="{{ item.url | relative_url }}" class="simple-tile-link">
                    <div class="simple-tile-item">
                        <div class="simple-tile-content">
                            <p class="simple-tile-title" style="font-size: 2.0rem; text-align: center">{{ item.title }}</p>
                        </div>
                    </div>
                </a>
            {%- endif %}
            {%- endfor %}
        </div>
    </div>
</div>


<style>

  .simple-tiles-list {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
          gap: 20px;
  }

  .simple-tile-link {
          text-decoration: none;
          color: inherit;
          display: flex;
  }

  .simple-tile-item {
           border: 1px solid #e0e0e0;
           border-radius: 12px;
           padding: 25px;
           transition: all 0.3s ease;
           background: #1c4587ff;
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
  }

  .simple-tile-item:hover {
           transform: translateY(-4px);
           box-shadow: 0 8px 25px rgba(0,0,0,0.1);
           border-color: #012152;
  }

  .simple-tile-title {
           color: #ffffff;
           font-weight: 400;
           margin-top: 0px;
           margin-bottom: 0px;
  }

</style>