// Find out which theme variables you can use to fine tune the styling of your website here: https://github.com/ELIXIR-Belgium/elixir-toolkit-theme/blob/main/_sass/_variables.scss
// Copy paste theme here and change where necessary .

$topnav-bg: $primary;
$topnav-title-color: $white;

/*-----Section navigation tiles-----*/
$nav-card-bg: $primary;
$nav-card-color: $dark;
$nav-card-bg-hover: $light;
$nav-card-color-hover: $light;